@import 'variables';
$general: (
    color-principal: $color-texto,
    alineacion-texto: center,
    fuente-principal: 'roboto',
    tamaño-fuente: 20px,
    color-dahe-principal:#ff074a,
    decoracion-texto: double underline overline,
    fuente-h1:  "Monoton",
    tamaño-fuente-h1:70px,
    alineacion-centro: center,
    bgTexto: rgba(44, 45, 49, 0.596),
    tamaño-fuente-sm: 19px,
    header-img-alto: 5vh,
    header-img-ancho:13vh,
    footer-img-alto: 5vh,
    footer-img-ancho: 5vh,
);




