    @mixin prefijos ($scale) {
        transform: $scale;
        -webkit-transform: $scale;
        -o-transform: $scale;
        -moz-transform: $scale;
    }

    @mixin titulo ($rotatey) {
        transform: $rotatey;
        -webkit-transform: $rotatey;
        -o-transform: $rotatey;
        -moz-transform: $rotatey;
    }

    @mixin titulo ($rotatex) {
        transform: $rotatex;
        -webkit-transform: $rotatex;
        -o-transform: $rotatex;
        -moz-transform: $rotatex;
    }

    @mixin separador($imagen, $height) {
        background-image: url($imagen);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        height: $height;
      }
     