* {
  padding: 0px;
  margin: 0px;
}

.body {
  background: linear-gradient(180deg, rgba(76, 161, 175, 1) 11%, rgba(2, 0, 36, 0.8995973389355743) 79%);

}

/*propiedades para separacion de seccion */
.separador-background {
  background: url(https://img.freepik.com/foto-gratis/hombre-joven-tecnico-que-trabaja-tableta-dentro-sala-centro-datos-grande-llena-servidores-rack-centrarse-cabeza-hombre_166273-1229.jpg?size=626&ext=jpg&ga=GA1.2.1361938581.1620950400);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 200px;
}