@import '../base/mapas';

/*propiedad para logos de redes dentro de footer*/
footer {
  img {
    height: map-get($general, footer-img-alto);
    width: map-get($general, footer-img-ancho);
  }
}
/*fin de logos dentro de footer*/
/*stilos de buttons- footer*/
.button-foot {
  border: 1px solid transparent
}

.button-foot:hover {
  background: transparent;
  border: 1px solid transparent;
}

.button-foot:active {
  background: #3B5998;
}
/*fin estilo button footer*/